@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    padding: 2rem 0 0;   
    background-color: v.$primary-100;
}

.sub-title {
    font-size: 2.8rem;
}

.navbar-bg {
    background-color: v.$accent-100;
}

.navbar-nav {
    border-radius: 5rem;
    padding: 1rem;

    transition: scale .3s ease;
    &:hover {
        background-color: v.$accent-200;
        scale: 1.07;
    }
}
