@use '../base/variables' as v;
@use '../base/mixins' as m;

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
    position: relative;
    margin-bottom: 1rem;
    background-position: left top;
}

.overlay-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include m.medium {
        flex-direction: row;
    }

    button {
        height: 5rem;
        width: 20rem;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 5rem;
    }
}